<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Position</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    {% include 'emp/navbar.html' %}
    <h1 class="text-center my-3">Add Position</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card bg-dark text-white">
                    <div class="card-body">
                        <form action="http://127.0.0.1:8000/emp/home/" method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="position_name">Position Name</label>
                                <input id="position_name" type="text" class="form-control"
                                    placeholder="Enter Position Name" name="position_name" required />
                            </div>

                            <div class="mb-3">
                                <label for="description">Description</label>
                                <textarea name="description" id="description" rows="5" class="form-control"
                                    required></textarea>
                            </div>

                            <div class="container text-center">
                                <button class="btn" style="background-color: #00ABB3;">
                                    Add Position
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>